ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

li a {
    display: block;
    width: 78px;
    height: 78px;
    text-indent: -9999px;
    overflow: hidden;
    background: #fff url('sprite.png') 0 0 no-repeat;
}

li a.icone1{
    background-position: 0 0;
}

li a.icone2{
    background-position: 5px -25px;
}

li a.icone3{
    background-position: -25px -150px;
}

li a.icone4{
    background-position: 0 -230px;
}